/* GENERAL */

body {
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    /* background: url('../img/tile.jpg') top left repeat; */
    height: 100vh;
    background-color: #ecf0f1;
}

/* GLOBAL */

h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-weight: bold;
}

/* .container.welcome {
    margin-top: 25%;
    border: 1px solid black;
    padding: 15px;
    box-shadow: 5px 10px #888888;
} */

.container.welcome,
.container.tests,
.container.result {
    margin-top: 25px;
}

.container.welcome .form-group {
    width: 50%;
    margin: 0 auto;
}

.form-group.home-page {
    padding-bottom: 15px;
}

.form-group.home-page:first-of-type {
    padding-top: 25px;
}

select[multiple],
select[size],
.btn-default {
    width: 100%;
}

.btn-success {
    margin: 25px auto;
    display: block;
}

.col-sm-6.atbildes {
    border: 1px solid #7f8c8d;
    border-radius: 10px;
    padding: 10px;
    margin-top: 25px;
    text-align: center;
}

.progress {
    width: 50%;
    margin: 0 auto;
}

hr.bottom {
    margin: 10px auto;
    border-top: 2px solid #7f8c8d;
    width: 50%;
}

@media only screen and (min-width: 767px) {
    .col-sm-6.atbildes {
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
    }
}